news_search_RAG_agent.json
{
  "name": "News Search RAG Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1780,
        220
      ],
      "id": "7268baef-7760-4b86-85e7-63ca5c6506b0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1500,
        440
      ],
      "id": "0eb77ee6-9fa4-4dc9-8f70-16bc60f6c640",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "4guKspVZVhn62kDA",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -1400,
        740
      ],
      "id": "31914d1f-d334-46f1-8275-5173c1ae83ef",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "gvsJBkV7wiKc7d5A",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1440,
        580
      ],
      "id": "667f295a-6d3b-4ac7-b001-579f6d0dad32",
      "name": "RSS Feed Vector Store"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"news\": {\n      \"type\": \"object\",\n      \"description\": \"News topics with an array of related articles extracted from RSS feed\",\n      \"additionalProperties\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"title\": {\n              \"type\": \"string\",\n              \"description\": \"Title of the article\"\n            },\n            \"link\": {\n              \"type\": \"string\",\n              \"format\": \"uri\",\n              \"description\": \"Link to the article \"\n            },\n            \"summary\": {\n              \"type\": \"string\",\n              \"description\": \"Summary of the article\"\n            },\n            \"content\": {\n              \"type\": \"string\",\n              \"description\": \"Content of the article\"\n            }\n          },\n          \"required\": [\"title\", \"link\", \"summary\", \"content\"]\n        }\n      }\n    }\n  },\n  \"required\": [\"news\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1260,
        440
      ],
      "id": "2100af3f-07f8-4571-a2fd-706530017bb8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Retrieve news articles related to the following topics: {{ $json.output[\"topics\"] }} using the RSS feed vector store as tool.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert AI researcher.\nYour job is to find AI news articles related to the given topics using the available tool.\nYour style or tone should be informative, concise, and engaging.\nYou'll receive a list of five top trending AI news topics.\nYour task is to find AI news articles related to each given topic from the list using the available RSS feed vector store tool.\nImportant: You MUST use the available tool to find news articles related to each given topics.\nCall the RSS feed vector store tool once for each given topic to retrieve its related news. \nEnsure that the retrieved news articles are relevant to the given topics and include title, link, summary, and content.\nDo NOT invent or create new articles from your own knowledge.\nThe response MUST include the exact news articles returned by the tool in JSON format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1480,
        220
      ],
      "id": "a408a21b-5c7b-4e70-95a7-9dddbb5da778",
      "name": "News Search RAG Agent",
      "executeOnce": true
    }
  ],
  "connections": {
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "News Search RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "News Search RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "RSS Feed Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Vector Store": {
      "ai_tool": [
        [
          {
            "node": "News Search RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "News Search RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "News Search RAG Agent": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
